apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: matchmaking-role
  namespace: game-backend
rules:
- apiGroups: [""]
  resources:
    - pods
    - services
  verbs:
    - create
    - get
    - list
    - delete
    - patch
    - watch
